body {
	background: url(../images/mainbg.svg) no-repeat;
	background-size: cover;
}

.wrapper {
	width: 600px;
	height: 500px;
	background-color: #fff;
	margin: 100px auto;
	border-radius: 35px;
}

.wrapper h1 {
	background: #000;
	color: #fff;
	border-radius: 35px 35px 0 0;
	text-align: center;
	padding: 20px;
	text-transform: uppercase;
	font-size: 26px;
}

/*Form*/
.regform {
	width: 500px;
	margin: 20px 0 0 40px;
	color: #663399;
	/*размер шрифта*/
	font-size: 16px;
	/*жирность шрифта*/
	font-weight: bold;
}

.regform input {
	/*делаем поля блочными*/
	display: block;
	/*ширина полей*/
	width: 500px;
	height: 30px;
	margin:10px auto;
	color: #663399;
	border: 1px solid #fb1;
	padding: 0 10px;
}

.regform input[type="submit"] {
	border: none;
	background-color: #fb1;
	height: 50px;
	width: 400px;
	border-radius: 10px;
	text-transform: uppercase;
	font-size: 16px;
	font-family: Verdana;
	font-weight: bold;
	margin: 40px auto;
}

.regform input[type="submit"]:hover {
	background-color: #663399;
	color: #fff;
	cursor: pointer;
}